<div class="card_fd">
    <img class = "img_fd" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-BqTNaupy8yjdKdQ7_S474SaAfSRnZ3emD03p9GPUw_02yhgC" alt="Avatar">
    <div class="container_fd">
        <h4><b>{{stylist_firstname}}</b></h4> 
        <p>{{title}}</p> 
        <p> {{availability}}</p>
    </div>
</div>

<div class = "footer">
 <button class="button_fd">Client List</button>
 <button class="button_fd">Service List</button>
 <button class="button_fd">Log-out</button>
</div>
   