<div class="container">
  <div id="left">
    <h1>ADAM FrontDesk!</h1>
    <!-- <p> Welcome to ADAM FrontDesk University! Please log in to go to see, manage and create appointments</p> -->
  </div>
  <div id="right">
    <ul>
      <li>
        <img class ="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Service Provider</strong>
          <p><a href="#ex3" rel="modal:open">Log in & Forgot password</a></p>
        </span>
      </li>

      <li id="customerBtn">
        <img class ="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Customer</strong>
          <p><a href="#ex1" rel="modal:open">Log in & Register</a></p>
        </span>
      </li>

      <li>
        <img class ="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Front Desk</strong>
          <p><a href="#ex2" rel="modal:open">Log in</a></p>
        </span>
      </li>
    </ul>
  </div>


  <!-- Modal HTML embedded directly into document -->
  <div id="ex1" class="modal modal-style">

    <form id="loginForm" class="login form">
      <p>LOG IN HERE.</p>
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" class="member-name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="userpass" required>

        <button type="submit" id="customerLogin">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    </form>
    <!-- <a href="#" rel="modal:close">Close</a> -->
    <p><button id="registerBtn" class="btnBlack">Register Here</button></p>


    <form id="registerForm" class="signup form">
      <div>
        {{!-- <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="fname" id="firstName" required>

        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lname" id="lastName" required>

        <label for="phoneNum"><b>Phone Number</b></label>
        <input type="text" placeholder="+19997776666" name="phoneNum" id="phone" required> --}}

        <label for="email"><b>Email (Username)</b></label>
        <input type="email" placeholder="adam@adamfrontdesk.com" name="email" id="email-input" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password-input" required>
        
        {{!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password-confirm" required>

        <label for="add1"><b>Address Line 1</b></label>
        <input type="text" placeholder="Address Line 1" name="add1" id="address_1" required>

        <label for="add2"><b>Address Line 2</b></label>
        <input type="text" placeholder="Address Line 2" name="add2" id="address_2" required>

        <label for="city"><b>City</b></label>
        <input type="text" placeholder="City" name="city" id="city" required>

        <label for="state"><b>State Code</b></label>
        <input type="text" placeholder="IL" name="state" id="state" required>

        <label for="zip"><b>ZIP</b></label>
        <input type="text" placeholder="556677" name="zip" id="zip" required>

        <label for="CCI"><b>Credit Card Info</b></label>
        <input type="text" placeholder="0000 1111 1111 3333" name="CCI" id="credit_card" required>

        <label for="CCE"><b>Credit Card Expiration</b></label>
        <input type="text" placeholder="00/21" name="CCE" id="expiration" required>

        <label for="CVC"><b>Credit Card CVC</b></label>
        <input type="text" placeholder="123" name="CVC" id="cvc" required>

        <label for="comment"><b>Comments</b></label>
        <input type="text" placeholder="any comments" name="comment" id="comment"> --}}
        <button type="submit" id="completeRegisterBtn">Submit</button>
        <button id="cancelRegistrationBtn">Cancel</button>
      </div>
    </form>


  </div>

  {{!-- modal for front desk --}}

  <div id="ex2" class="modal modal-style">
    <form id="frontDeskLoginForm" class="frontdesk form">
      <p>FRONT DESK LOG IN ONLY.</p>
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="frontDeskName" class="member-name" required>
        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" id="frontDeskPass" required>
        <button type="submit" id="frontDeskLogin" >Login</button>

      </div>
    </form>
    
  </div>

  <div id="ex3" class="modal modal-style">
    <form id="ServiceProviderLoginForm" class="loginProvider form">
      <p>SERVICE PROVIDER LOG IN </p>
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="ServiceProviderName" required>
        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" id="ServiceProviderPass" required>
        <button type="submit" id="serviceproviderLogin">Login</button>
      </div>
    </form>
    <p><button id="ServiceProviderForgot" class="btnBlack">Forgot Password?</button></p>
  </div>


</div>





{{!--
<script src="/public/js/index.js" type="text/javascript"></script> --}}
<script>
  $(document).ready(function () {
    $("#registerForm").hide();
  });
  $("#registerBtn").click(function () {
    $("#loginForm").hide();
    $("#registerBtn").hide();
    $("#registerForm").show();
  });
  $("#cancelRegistrationBtn").click(function () {
    location.reload();
  });

</script>