<div class="container">
  <div id="left">
    <h1>ADAM FrontDesk!</h1>
    <!-- <p> Welcome to ADAM FrontDesk University! Please log in to go to see, manage and create appointments</p> -->
  </div>
  <div id="right">
    <ul>
      <li>
        <img class="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Service Provider</strong>
          <p><a href="#ex3" rel="modal:open">Log in & Forgot password</a></p>
        </span>
      </li>

      <li id="customerBtn">
        <img class="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Customer</strong>
          <p><a href="#ex1" rel="modal:open">Log in & Register</a></p>
        </span>
      </li>

      <li>
        <img class="logo" src="https://www.designfreelogoonline.com/wp-content/uploads/2014/12/00546-Square-levels-logo-design-free-logos-online-02.png">
        <span>
          <strong>Front Desk</strong>
          <p><a href="#ex2" rel="modal:open">Log in</a></p>
        </span>
      </li>
    </ul>
  </div>


  <!-- Modal HTML embedded directly into document -->
  <div id="ex1" class="modal modal-style">

    <form id="loginForm" class="login form">
      <p>LOG IN HERE.</p>
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" class="member-name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="userpass" required>

        <button type="submit" id="customerLogin">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    </form>
    <!-- <a href="#" rel="modal:close">Close</a> -->
    <p><button id="registerBtn" class="btnBlack">Register Here</button></p>


    <form id="registerForm" class="signup form">
      <div>

        <label for="email"><b>Email (Username)</b></label>
        <input type="email" placeholder="adam@adamfrontdesk.com" name="email" id="email-input" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password-input" required>

        <label for="CVC"><b>Credit Card CVC</b></label>
        <input type="text" placeholder="123" name="CVC" id="cvc" required>

        <label for="comment"><b>Comments</b></label>
        <input type="text" placeholder="any comments" name="comment" id="comment"> --}}
        <button type="submit" id="completeRegisterBtn">Submit</button>
        <button id="cancelRegistrationBtn">Cancel</button>
      </div>
    </form>


  </div>

  {{!-- modal for front desk --}}

  <div id="ex2" class="modal modal-style">
    <form id="frontDeskLoginForm" class="form">
      <p>FRONT DESK LOG IN ONLY.</p>
      <div>
        <label for="frontDeskName"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" value = "arnab" name="frontDeskName" id="frontDeskUser" class="member-name"
          required>
        <label for="frontDeskPass"><b>Key</b></label>
        <input type="password" placeholder="Enter Password" name="frontDeskPass" id="frontDeskPass" required>
        <button type="button" id="frontDeskLogin">Login</button>
      </div>
    </form>

  </div>

  <div id="ex3" class="modal modal-style">
    <form id="serviceProviderLoginForm" class="form">
      <p>SERVICE PROVIDER LOG IN </p>
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="ServiceProviderUser" required>
        <label for="pass"><b>Key</b></label>
        <input type="text" placeholder="Enter Password" name="pass" id="ServiceProviderPass" required>
        <button type="buttserviceProvider">Login</button>
      </div>
    </form>
    <p><button id="ServiceProviderForgot" class="btnBlack">Forgot Password?</button></p>
  </div>


</div>





{{!--
<script src="/public/js/index.js" type="text/javascript"></script> --}}
<script>
  $(document).ready(function () {
    $("#registerForm").hide();
  });
  $("#registerBtn").click(function () {
    $("#loginForm").hide();
    $("#registerBtn").hide();
    $("#registerForm").show();
  });
  $("#cancelRegistrationBtn").click(function () {
    location.reload();
  });
  $("#frontDeskLogin").click(function () {
    alert("button was clicked");
    var userData = {
      email: $("#frontDeskUser").val(),
      password: $("#frontDeskPass").val()
    };
    console.log("*&***&&&**^U^",userData);
    if (!userData.email || !userData.password) {
      console.log("username or key missing");
      return;
    }
    //console.log("*&***&&&**^U^",userData);

    loginDesktop(userData.email, userData.password);
    $("#frontDeskUser").val("");
    $("#frontDeskPass").val("");
  });

  function loginDesktop(username, password) {

    if (username == 'arnab' && password == '1') {
      window.location.href = "/frontdesk";
    }
    else {
      console.log("Something doesn't match our data");
    }
  }
</script>